$base_theme_color: #0a223d;
$base_font_color: #000000;
$base_background_color:#e0e0e0;
$base_font_contrast_color: #ffffff;
$base_box_border:#d8eaff;
$base-success-color: green;
$base-error-color: red;